.story-card-wrapper {
  width: 257px;
  height: 459px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 257px;
  height: 459px;
  cursor: pointer;
  .edit-btn {
    cursor: pointer;
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    width: 79px;
    height: 34px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 4px 15px 0px #00000026;
    z-index: 111;

  }
  .content {
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #000000 59.6%, rgba(0, 0, 0, 0) 102.31%);
    color: #ffffff;
    padding: 26px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 217px;

    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 26.04px;
      text-align: left;
      margin-bottom: 2px;
    }
    p {
      font-size: 10px;
      font-weight: 700;
      line-height: 13.02px;
      text-align: left;
      margin: 0;
    }
  }
  @media (max-width: 500px) {
    width: 100%;
    height: 586px;

    border-radius: 15px;
    .content {
      width: calc(100% - 40px);
    }
  }
}
