@import "../../App.scss";
.category-card-wrapper {
  width: 180px;
  height: 180px;
  border-radius: 36px;
  background-position: center;
  background-size: cover;
  background: #00000099;
  cursor: pointer;
  border: 3px solid #00000099;

  &:hover {
    border: 3px solid #085cff;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: #00000099;
    width: 100%;
    height: 100%;
    h3 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      line-height: 39.06px;
    }
  }
  @media (max-width: 800px) {
    width: 142.6px;
    height: 95.15px;
    border-radius: 15px;
    .content {
      border-radius: 15px;
      h3 {
        font-size: 17px;
        font-weight: 700;
        line-height: 22.13px;
      }
    }
  }
}
.active {
  border: 3px solid #085cff;
}

