.login-wrapper {
  //   position: relative;
  display: flex;
  flex-direction: column;

  top: 238px;
  left: 331px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  .close {
    display: flex;
    justify-content: flex-end;
    svg {
      fill: #ff0000;
      cursor: pointer;
    }
  }
  .title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 32.55px;
    margin-bottom: 30px;
  }
  form {
    width: min(416px, 100%);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 37px;
    
    .form-control {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      align-items: center;
      .input-wrappper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .input-inner-wrapper {
          position: relative;
          width: fit-content;
          input {
            // padding-right: 30px;
          }
          svg {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
          }
        }
        label {
          font-size: 20px;
          font-weight: 700;
          line-height: 26.04px;
        }
        input {
          padding: 0px 10px;
          width: 245px;
          //   width: 100%;
          height: 35px;
          border: 1px solid #000000;
        }
        @media (max-width: 500px) {
          flex-direction: column;
          width: fit-content;
          // align-items: center;
          input {
            width: 200px;
          }
        }
      }
    }
    button {
      width: 129px;
      height: 45px;

      font-size: 18px;
      font-weight: 700;
      line-height: 23.44px;
    }
  }
}
