.story-view-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1111;
}

.story-view-modal-overlay {
  .modal-story-view {
    background-color: transparent;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    width: min(618px, 100%);
    // background-color: transparent;
    .slider-container {
      .slick-next:before,
      .slick-prev:before {
        font-size: 50px !important;
        @media (max-width: 550px) {
          display: none;
        }
      }
      .slick-slider {
        display: flex;
        justify-content: center;
        .slick-dots {
          bottom: unset;
          top: 10px;
          display: flex !important;
          max-width: 339px;
          margin: auto;
          li {
            width: 100%;
            .status-line {
              width: 100%;
              height: 4px;
              background: #d9d9d980;
            }
          }
          .slick-active {
            .status-line {
              width: 100%;
              height: 4px;
              background: white !important;
            }
          }
        }
      }
      .story-view-card {
        width: unset !important;
      }
      .story-card-view-wrapper {
        // width: 257px !important;
        width: 339px !important;
        height: 605.45px !important;

        // height: 459px;
        border-radius: 8px;
        background-position: center;
        background-size: cover;
        position: relative;
        .btn-share {
          position: absolute;
          top: 30px;
          left: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          svg {
            fill: #ffffff;
            padding: 20px;
          }
        }
        .content {
          position: absolute;
          bottom: 0;
          background: linear-gradient(
            0deg,
            #000000 59.6%,
            rgba(0, 0, 0, 0) 102.31%
          );
          color: #ffffff;
          padding: 26px 20px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          width: 299px;

          h3 {
            font-size: 20px;
            font-weight: 700;
            line-height: 26.04px;
            text-align: left;
            margin-bottom: 2px;
          }
          p {
            font-size: 10px;
            font-weight: 700;
            line-height: 13.02px;
            text-align: left;
            margin: 0;
          }
          .btn-wrapper {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .bookmarked {
              svg {
                path {
                  fill: #085cff;
                }
              }
            }
            .like-icon {
              display: flex;
              align-items: center;
              gap: 5px;
              svg {
                path {
                  fill: white;
                }
              }
              .liked {
                svg {
                  path {
                    fill: #ff0000 !important;
                  }
                }
              }
              span {
                font-size: 14px;
                font-weight: 700;
                line-height: 11.72px;
              }
            }
          }
        }
        @media (max-width: 500px) {
          width: 100%;
          height: 586px;

          border-radius: 15px;
        }
      }
    }
  }
}
