.your-story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 50vh;

  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 39.06px;
    margin-bottom: 27px;
  }
  span {
    font-size: 30px;
    font-weight: 700;
    line-height: 39.06px;
    color: #8e8e8e;
  }
  .your-story-wrapper {
    margin-bottom: 42px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    gap: 55px;
    justify-content: center;
    width: 100%;
    @media (max-width: 500px) {
      gap: 18px;
      flex-direction: column;
    }
  }
  button {
    margin-bottom: 39px;
    width: 136px;
    height: 45px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
  }
}
