body {
  margin: 0;
}
.App {
  font-family: DM Sans;
  position: relative;
  overflow: hidden;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1111;
}

.modal {
  background-color: white;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  width: min(618px, 100%);
}
.error {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.62px;
  color: #ff0e0e;
}
svg {
  cursor: pointer;
}
button {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  border: none;
  cursor: pointer;
}

.btn-red {
  border-radius: 20px;
  background: #ff7373;
  color: #ffffff;
  transition: ease all 200ms;
  &:hover {
    transition: ease all 200ms;
    background: #f65e5e;
  }
}
.active {
  border: 3px solid #085cff;
}
.btn-blue {
  border-radius: 20px;
  background: #73abff;
  color: #ffffff;
  transition: ease all 200ms;
  &:hover {
    transition: ease all 200ms;
    background: #508eeb;
  }
}
.btn-green {
  border-radius: 20px;
  background: #7eff73;
  color: #ffffff;
  transition: ease all 200ms;
  &:hover {
    transition: ease all 200ms;
    background: #57dd4b;
  }
}
