form {
    .form-inner-wrapper {
      .input-container {
        width: min(416px, 100%);
        margin: auto;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 37px;

        .form-control {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          align-items: center;
          .input-wrappper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .input-inner-wrapper {
              .message {
                font-size: 10px;
                font-weight: 500;
                line-height: 13.02px;
                margin-top: 5px;
              }
            }
            label {
              font-size: 18px;
              font-weight: 700;
              line-height: 23.44px;
            }
            input {
              padding: 0px 10px;
              width: 245px;
              //   width: 100%;
              height: 35px;
              border: 1px solid #000000;
              font-size: 15px;
              font-weight: 700;
              line-height: 19.53px;
            }
            select {
              padding: 0px 10px;
              width: 267px;
              height: 37px;
              border: 1px solid #000000;
              font-size: 15px;
              font-weight: 700;
              line-height: 19.53px;
            }
            textarea {
              padding: 0px 10px;
              width: 245px;
              border: 1px solid #000000;
              font-size: 15px;
              font-weight: 700;
              line-height: 19.53px;
              padding: 10px;
            }
            @media (max-width: 500px) {
              flex-direction: column;
              width: fit-content;
              // align-items: center;
              input,
              textarea {
                width: 200px;
              }
              select {
                width: 222px;
              }
            }
            @media (max-width: 400px) {
              flex-direction: column;
              width: fit-content;
              // align-items: center;
              input,
              textarea {
                width: 170px;
              }
              select {
                width: 192px;
              }
            }
          }
        }
      }
    }
    .action-button-container {
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;
      .left {
        display: flex;
        gap: 6px;
      }
      button {
        width: 129px;
        height: 45px;

        font-size: 18px;
        font-weight: 700;
        line-height: 23.44px;
      }
    }

    @media (max-width: 650px) {
      .form-inner-wrapper {
        display: flex;
        margin-bottom: 20px;
        .slide-wrapper {
          flex-direction: column;
        }
        .input-container {
          margin: 0px auto;
          .form-control {
            .input-wrappper {
              flex-direction: column;
              gap: 8px;
              width: fit-content;
            }
          }
        }
      }
      .action-button-container {
        justify-content: center;
        .left {
          display: none;
        }
      }
    }
  }